.btn-primary {
  background-color: #1fb6ff;
  color: #fff;
  border-color: #1fb6ff;
}

body {
  font-family: myriad-pro, sans-serif;
  font-weight: 100;
  font-style: normal;
}

h1 {
  font-family: myriad-pro, sans-serif;

  font-weight: 700;

  font-style: normal;
}
